<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Weather App</a>
			<div class="d-flex">
				<button class="btn btn-primary mr-2" onclick="location.href='/login'">Login</button>
				<button class="btn btn-success" onclick="location.href='/register'">Register</button>
			</div>
		</div>
	</nav>

	<div class="container mt-5">
		<h1 class="mb-4">
			{% if user %}
			Welcome back {{ user.first_name }}!
			{% else %}
			Enter Your ZipCode or City Name and State
			{% endif %}
		</h1>
		<form id="locationForm" action="/process_zip_or_city" method="post">
			<div class="form-group">
				<label for="zipcode">ZipCode:</label>
				<input type="text" class="form-control" name="zipcode" id="zipcode" value="{{ user.zipcode if user else '' }}">
			</div>
			<div class="form-group">
				<label for="city">City Name:</label>
				<input type="text" class="form-control" id="city" name="city">
			</div>
			<div class="form-group">
				<label for="state">State Name:</label>
				<input type="text" class="form-control" id="state" name="state">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>
</html>