<!DOCTYPE html>
<html>

<head>
	<title>Weather Info</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

	<div class="container mt-5">
		<h1>Weather Info</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Location</h3>
						<p class="card-text">{{ location_name }}</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Humidity</h3>
						<p class="card-text">{{ humidity }}%</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Pressure</h3>
						<p class="card-text">{{ pressure }} hPa</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Weather Description</h3>
						<img src="{{ weather_icon }}" alt="Weather Icon">
						<p class="card-text">{{ weather_description }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Temperature in Celsius</h3>
						<p class="card-text">{{ temp_c }} &deg;C</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Temperature in Fahrenheit</h3>
						<p class="card-text">{{ temp_f }} &deg;F</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>