<!DOCTYPE html>
<html>

<head>
	<title>Weather Info</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">Weather App</a>
			<div class="d-flex">
				{% if user %}
					<button class="btn btn-primary mr-2" onclick="location.href='/logout'">Logout</button>
				{% else %}
					<!-- User is not logged in, so display a login button -->
					<button class="btn btn-primary mr-2" onclick="location.href='/login'">Login</button>
				{% endif %}				

				<button class="btn btn-success" onclick="location.href='/register'">Register</button>
			</div>
		</div>
	</nav>


	<div class="container mt-5">
		<h1 class="mb-4">
			{% if user %}
			Welcome back {{ user.first_name }}!
			{% else %}
			Weather Info
			{% endif %}
		</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Location</h3>
						<p class="card-text">{{ location_name }}</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Humidity</h3>
						<p class="card-text">{{ humidity }}%</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Pressure</h3>
						<p class="card-text">{{ pressure }} hPa</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Weather Description</h3>
						<img src="{{ weather_icon }}" alt="Weather Icon">
						<p class="card-text">{{ weather_description }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Temperature in Celsius</h3>
						<p class="card-text">{{ temp_c }} &deg;C</p>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h3 class="card-title">Temperature in Fahrenheit</h3>
						<p class="card-text">{{ temp_f }} &deg;F</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>